@media screen and (max-width: 1200px) {
    .tabs ul {
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 20px;
    }
    
    .tabs li {
        width: 100%;
    }
}

.tabs .is-active a {
    background-color: #f4f4f4 !important;
    color: black !important;
    border: 1px solid #f4f4f4 !important;
  }
  